[Desktop Entry]
Version=1.0
Type=Application
Name=Gello
Comment=Launch GELLO Simulation Control Panel
Exec=python3 /home/pi/Desktop/gello_gui.py
Icon=/home/pi/Desktop/gello_icon.png
Terminal=false
Categories=Utility;
